.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    color: #f9faf8;
   
}
.navlinks {
    display: flex;
    gap: 10px;
    margin: 8px;
    margin-left: 24px;
    font-size: 18px;
    color: #efe7eb;
    border-radius: 8px;
    justify-content: space-between;
}
ul {
    list-style-type: none;
}
.outline {
    display: flex;
    flex-direction: column;
}
.container1 {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 48px extra-bold;
}
.content {
    display: flex;
    margin: 24px;
}
.content>.left {
    margin-left: 48px;
}
.button {
    background-color: #3882F6;
    border-radius: 6px;
    border-color: white;
    border-style: thin;
}
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
}

.container3 {
    background-color: silver;
    display: flex; 
}
.container4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #3882F6;
    margin: 48px;
    border-radius: 8px;
  }

h1 {
    text-align: center;
}
.content>.left>h1 {
    text-align: left;
}
